#myShit {
  background-color: white;
  color: black;
  padding: 20px;
  text-align: center;
}

.goals {
  background-color: red;
  color: black;
  padding: 20px;
  text-align: center;
}

table {
  width: 50%;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
  text-align:
  center;
}

th {
  background-color: light-grey;
}

.introduction {
  background-color: green;
  display: flex;
  flex-wrap: wrap;
}

.introduction > div {
  background-color: yellow;
  font-size: 20px;
  margin: 20px;
  padding: 20px;
  width: 200px;
}

@media screen and (min-width: 480px) {
  #leftsidebar {width: 200px; float: left;}
  #main {margin-left: 216px;}
}
