#myShit {
  background-color: white;
  color: black;
  padding: 20px;
  text-align: center;
}

.goals {
  background-color: red;
  color: black;
  padding: 20px;
  text-align: center;
}

table {
  width: 50%;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
  text-align:
  center;
}

th {
  background-color: light-grey;
}

.introduction {
  background-color: red;
}

@media (min-width: 500px) {
  body {
    background-color: white;
  h1::before {
    content: "Welcome to my Web Page!";
  }
  }
}

@media (max-width: 499px) {
  body {
    background-color: red;
  h1::before {
    content: "Welcome!";
  }
  }
}
